/**
 * Google fonts | Roboto
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    border-top: 7px solid #555555;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
}

.text-red {
    color: #E53935
}

.text-pink {
    color: #D81B60
}

.text-purple {
    color: #8E24AA
}

.text-deep-purple {
    color: #5E35B1
}

.text-indigo {
    color: #3949AB
}

.text-blue {
    color: #1E88E5
}

.text-light-blue {
    color: #0288D1
}

.text-cyan {
    color: #00ACC1
}

.text-teal {
    color: #00897B
}

.text-green {
    color: #43A047
}

.text-light-green {
    color: #7CB342
}

.text-lime {
    color: #C0CA33
}

.text-yellow {
    color: #FDD835
}

.text-amber {
    color: #FFB300
}

.text-orange {
    color: #FB8C00
}

.text-deep-orange {
    color: #F4511E
}

.text-brown {
    color: #6D4C41
}

.text-gray {
    color: #757575
}

.text-black {
    color: #000000
}

.text-white {
    color: #ffffff
}

.text-center {
    text-align: center;
}

/*BTN SOMENTE MODIFICAÇÕES*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 0;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn:hover,
.btn:focus,
.btn.focus {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:active,
.btn.active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

/*BTN DEFAULT*/
.btn-default {
    color: #424242;
    background-color: #EEEEEE;
    border-color: #424242;
}

.btn-default:focus,
.btn-default.focus {
    color: #ffffff;
    background-color: #424242;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #424242;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #424242;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #424242;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}

/*BTN PRIMARY*/
.btn-primary {
    color: #00695C;
    background-color: #80CBC4;
    border-color: #00695C;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #00695C;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00695C;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00695C;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #00695C;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    color: #fff;
    background-color: #00695C;
}

/*BTN SUCCESS*/
.btn-success {
    color: #558B2F;
    background-color: #C5E1A5;
    border-color: #558B2F;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #558B2F;
}

.btn-success:hover {
    color: #fff;
    background-color: #558B2F;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #558B2F;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #558B2F;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    color: #fff;
    background-color: #558B2F;
}

/*BTN INFO*/
.btn-info {
    color: #00838F;
    background-color: #80DEEA;
    border-color: #00BCD4;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #00BCD4;
}

.btn-info:hover {
    color: #fff;
    background-color: #00BCD4;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #00BCD4;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #00BCD4;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    color: #fff;
    background-color: #00BCD4;
}

/*BTN WARNING*/
.btn-warning {
    color: #FF8F00;
    background-color: #FFE082;
    border-color: #FF8F00;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #FF8F00;
}

.btn-warning:hover {
    color: #fff;
    background-color: #FF8F00;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #FF8F00;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #FF8F00;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    color: #fff;
    background-color: #FF8F00;
}

/*BTN DANGER*/
.btn-danger {
    color: #C62828;
    background-color: #EF9A9A;
    border-color: #C62828;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #C62828;
}

.btn-danger:hover {
    color: #fff;
    background-color: #C62828;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #C62828;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #C62828;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    color: #fff;
    background-color: #C62828;
}

/*SOMENTE MODIFICAÇÕES DE PROPRIEDADES DAS CLASSES*/
/*INPUT GROUP SOMENTE MODIFICAÇÕES*/
.input-group {
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 0;
}

.input-group-addon {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: white;
    border: 0;
    border-radius: 4px;
}

.input-group .form-control {
    background-color: rgba(255, 255, 255, .60);
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-addon .btn {
    border-width: 0;
}

/*FORM CONTROL SOMENTE MODIFICAÇÕES*/
.form-control {
    background-color: rgba(255, 255, 255, .60);
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #aaa;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*NAVBAR SOMENTE MODIFICAÇÕES*/
.navbar {
    margin-bottom: 40px;
    border: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar .navbar-brand {
        line-height: 30px;
    }
}

.navbar-default {
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > .active > a:after {
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: #0f0f0f;
        position: absolute;
        content: " ";
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #444444;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #257fa2;
}

.navbar-default .navbar-nav > .open > a > i:last-child {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/*DROPDOWN SOMENTE MODIFICAÇÕES*/
.dropdown-menu {
    padding: 3px 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, .40);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .40);
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

/*PANEL SOMENTE MODIFICAÇÕES*/
.panel {
    padding: 25px 15px;
    border-radius: 8px;
}

.panel-heading {
    margin-bottom: 20px;
    padding: 10px 25px;
}

.panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 10px 25px;
}

.panel-footer {
    margin-top: 20px;
    padding: 10px 25px;
}

/*PANEL DEFAULT*/
.panel-default {
    background-color: #ffffff;
    border: 0;
}

.panel-default:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .40);
}

.panel-default .panel-heading {
    margin: 0;
    padding: 0 25px;
    background-color: transparent;
    border-bottom: 0;
}

.panel-default .panel-footer {
    background-color: transparent;
    border: 0;
}
/*LIST GROUP SOMENTE MODIFICAÇÕES*/
.list-group {
    border: 0;
    border-radius: 8px;
}
a.list-group-item
{
    color: #337ab7;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    background-color: #ffffff;
    color: #000;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px 20px 15px;
    background-color: #fff;
    border: 1px solid #eeeeee;
}
.list-group-item:after
{
    top: 0;
    left: 50%;
    margin-top: -11px;
    margin-left: -5px;
    border-width: 0 12px 12px 12px;
    border-color:#ffffff transparent;
    content: " ";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.list-group-item:before
{
    top: 0;
    left: 50%;
    margin-top: -12px;
    margin-left: -5px;
    border-width: 0 12px 12px 12px;
    border-color:#aaaaaa transparent;
    content: " ";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

/**/
.with-ck-editor {

}

.with-ck-editor > div {
    border: 0 !important;
}